<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

      <!-- Brand -->
      <a class="navbar-brand pt-0 waves-effect" href="">
          <!-- <img src="https://mdbootstrap.com/img/logo/mdb-noshadow-38px" alt="MDB logo"> -->
          <!-- Madhan Smart -->
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link waves-effect" routerLink="home">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link waves-effect" routerLink="about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect" routerLink="skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect" routerLink="contact">Contact</a>
              </li>
          </ul>

      </div>

  </div>
</nav>
<!-- Navbar -->